@font-face {
    font-family: "Yekan";
    src: url(../fonts/Yekan.eot);
    src: url(../fonts/Yekan.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Yekan.woff) format("woff"),
    url(../fonts/Yekan.ttf) format("truetype"),
    url(../fonts/Yekan.svg#BYekan) format("svg");
    font-weight: normal;
    font-style: normal
}

:not(i){
    font-family: Yekan, serif !important;
}

span.glyphicon{
    font-family: 'Glyphicons Halflings' !important;
}

.close{
    font-size: 15px;
}

.btn-outline-primary {
    color: #007bff;
    background-color: transparent;
    background-image: none;
    border-color: #007bff;
    transition: all .15s ease-in-out;
}
.btn-outline-primary:hover{
    color: #fff;
    background-color: #007bff;
}

.btn-outline-warning {
    color: #ffc107;
    background-color: transparent;
    background-image: none;
    border-color: #ffc107;
    transition: all .15s ease-in-out;
}
.btn-outline-warning:hover{
    color: #fff;
    background-color: #ffc107;
}

.btn-outline-success {
    color: #28a745;
    background-color: transparent;
    background-image: none;
    border-color: #28a745;
    transition: all .15s ease-in-out;
}
.btn-outline-success:hover{
    color: #fff;
    background-color: #28a745;
}

.btn-outline-danger {
    color: #dc3545;
    background-color: transparent;
    background-image: none;
    border-color: #dc3545;
    transition: all .15s ease-in-out;
}
.btn-outline-danger:hover{
    color: #fff;
    background-color: #dc3545;
}

.bg-primary{
    background-color: #007bff !important;
}

.bg-success{
    background-color: #28a745 !important;
}

.bg-info{
    background-color: #17a2b8 !important;
}

.bg-warning{
    background-color: #ffc107 !important;
}

.bg-danger{
    background-color: #dc3545 !important;
}

.bg-royal{
    background-color: #886aea !important;
    color: #ffffff;
}

#chartContainer{
    direction: ltr !important;
    left: 0 !important;;
}